@media (max-width: 768px) { 
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 80%; /* Ajusta el ancho para pantallas pequeñas */
        margin: auto;
    }
}

@media (min-width: 768px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 50%;  /* Ajusta este valor según necesites */
        margin: auto;
    }
}