@media (max-width: 768px) { 
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 80%; /* Ajusta el ancho para pantallas pequeñas */
        margin: auto;
    }
}

@media (min-width: 768px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 30%;  /* Ajusta este valor según necesites */
        margin: auto;
    }
}

.carousel-inner {
    max-width: 500px; /* Ajusta este valor */
    margin: auto;
  }